    <h3>
		MEMORY  [Total: <%= number_with_delimiter(total_mem.ceil, :delimiter => ',') %> MB]  
		[<%= (total_mem/1000).to_s[0,4] %> GB] 
    </h3>
    <%= area_chart Uzebba::Terminal.group_by_minute(:created_at, last: 40).maximum(:memory_usage), min: @terminal.memory_usage.to_d - 1000, xtitle: "Time", ytitle: "in Megabytes" %> 
    <br>
        <h3>
            <small style="color: blue;">
                Available: <%= available_mem %> MB
            </small> | 
            <small style="color: red;">
                Used: <strong><u><%= @terminal.memory_usage %></u> MB</strong>
            </small>
         
        </h3> 
