<div class="grid-container">
    <div class="grid-item">
<table id="tableau">
    <tbody>
      <tr>
        <th>Tool Name</th>
        <td><b><a href="https://github.com/ohiodn8/uzebba" target="_blank">Uzebba Monitoring Tool</a></b> || <b>[ <%= link_to "Main App", main_app.root_path %> ]</b></td>
      </tr>  
      <tr>
        <th>Computer Name</th>
        <td><%= Socket.gethostname %></td>
      </tr>          
      <tr>
        <th>OS</th>
        <td>
          <% if OS.windows? == true %>
            Windows OS
          <% elsif OS.mac? == true %>
            Mac OS 
          <% elsif OS.posix? == true %>  
            Linux
          <% elsif OS.java? == true %> 
            (jruby)
          <% else %>
            Hmmm...
          <% end %>    
        </td>
      </tr>
      <tr>
        <th>User</th>
        <td>
            <% if OS.windows? == true %>
                <p><%= ENV['USERDOMAIN'] %>\<%= ENV['USERNAME'] %></p> 
            <% else %>
                <%= `echo "$USER"` %>
            <% end %>
        </td>
      </tr>        
    </tbody>
  </table>
    </div>  
    <div class="grid-item">
<table id="tableau">
    <tbody>
      <tr>
        <th>Ruby Version</th>
        <td><%= `ruby --version` %></td>
      </tr>
      <tr>
        <th>Rails Version</th>
        <td><%= `rails -v` %></td>
      </tr>
      <tr>
        <th>Browser Version</th>
        <td><%= browser.name %> <%= browser.full_version %></td>
      </tr> 
      <tr>
        <th>App Path</th>
            <% if OS.windows? == true %>
               <td><%= `echo %cd%` %></td> 
            <% else %>
               <td><%= `pwd` %></td>
            <% end %>          
      </tr>        
    </tbody>
  </table> 
    </div>  
</div> 
