<html>
	<head>
	  <title>Uzebba</title>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    "uzebba/uzebba", media: "all" %>
	  <%= javascript_include_tag "uzebba/uzebba" %> 
	</head>  

	<body style="background-color:skyblue;text-align:center">
	  <%= render "uzebba/terminals/system_info" %>
	  <div id="all_terminals">    
		<%= render "uzebba/terminals/terminals" %>
	  </div>
	</body>
</html>
